# **PyCitySchools Challenge**

You are the Chief Data Scientist for your city's school district. In this capacity, you'll be helping the school board and mayor make strategic decisions regarding future school budgets and priorities.

As a first task, you've been asked to analyze the district-wide standardized test results. You'll be given access to every student's math and reading scores, as well as various information on the schools they attend. Your responsibility is to aggregate the data to and showcase obvious trends in school performance.

#### **Import Dependencies**

In [1]:
import pandas as pd
import os

#### Set the path to the data files (*Schools_complete.csv*) and (*Students_complete.csv*)

In [2]:
schools_file = os.path.join(".", "Resources","Schools_complete.csv")
students_file = os.path.join(".", "Resources","Students_complete.csv")

#### Read the schools_complete csv file and display with pandas

In [3]:
schools_df = pd.read_csv(schools_file)
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

#### Read the students_complete csv file and display with pandas

In [4]:
students_df = pd.read_csv(students_file)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

#### **District Summary**

##### **Create a high level snapshot (in table form) of the district's key metrics, including:**

- Total Schools
- Total Students
- Total Budget    
- Average Math Score    
- Average Reading Score    
- % Passing Math (The percentage of students that passed math.)    
- % Passing Reading (The percentage of students that passed reading.)    
- % Overall Passing (The percentage of students that passed math and reading.)

##### Total number of Schools
 Gives the length of unique school names to give us total number of schools

In [5]:
school_count = len(schools_df['school_name'].unique())
print(school_count)

15

##### Total number of Students
 Gives the total number of students

In [6]:
total_student_count = students_df['student_name'].count()
print(total_student_count)

39170

##### Total budget from the schools_complete csv file
 Gives the total budget

In [7]:
total_budget = schools_df['budget'].sum()
print(total_budget)

24649428

##### Average math score from Students_complete csv file
 Gives the average math score

In [8]:
average_math_score = students_df['math_score'].mean()
print(average_math_score)

78.98537145774827

##### Average reading score from Students_complete csv file
 Gives the average reading score

In [9]:
average_reading_score = students_df['reading_score'].mean()
print(average_reading_score)

81.87784018381414

##### Percentage passing Math (The percentage of students that passed math.) from Students_complete csv file
 Gives the percentage of students with a passing math score (70 or greater)

In [10]:
num_pass_math = students_df.loc[students_df['math_score'] >= 70]['math_score'].count()
percent_pass_math = (num_pass_math/total_student_count)*100
print(percent_pass_math)

74.9808526933878

##### Percentage passing reading (The percentage of students that passed reading) from Students_complete csv file
 Gives the percentage of students with a passing reading score (70 or greater)

In [11]:
num_pass_reading = students_df.loc[students_df['reading_score'] >= 70]['reading_score'].count()
percent_pass_reading = (num_pass_reading/total_student_count)*100
print(percent_pass_reading)

85.80546336482001

##### Percentage overall passing (The percentage of students that passed both math and reading) from Students_complete csv file)
 Gives the percentage of students that passed both math and reading (70 or greater)

In [12]:
overall_pass = (students_df[(students_df['math_score'] >= 70) & (students_df['reading_score'] >= 70)]['student_name'].count()/total_student_count)*100
print(overall_pass)

65.17232575950983

##### Create a dataframe with all the above results
 Making a dataframe with the collected information

In [13]:
district_summary = pd.DataFrame({"Total Schools":[school_count],
                               "Total Students":[total_student_count],
                               "Total Budget" : [total_budget],
                               "Average Math Score":[average_math_score],
                               "Average Reading Score":[average_reading_score],
                               "% Passing Math":[percent_pass_math],
                               "% Passing Reading": [percent_pass_reading],
                               "% Overall Passing":[overall_pass]})

##### Formating the cells

In [14]:
district_summary.style.format({"Total Budget": "${:,.2f}", 
                       "Average Reading Score": "{:.6f}", 
                       "Average Math Score": "{:.6f}", 
                       "% Passing Math": "{:.6f}", 
                       "% Passing Reading": "{:.6f}", 
                       "Overall Passing": "{:.6f}"})

#### **School Summary**

##### **Create an overview table that summarizes key metrics about each school, including:**

- School Name
- School Type
- Total Students
- Total School Budget
- Per Student Budget
- Average Math Score
- Average Reading Score
- % Passing Math
- % Passing Reading
- % Overall Passing (The percentage of students that passed math and reading.)

##### Merge the 2 data files
Merge the 2 data files on school

In [15]:
merge_df = students_df.merge(schools_df, how = 'left', on = 'school_name')
merge_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

##### Group by school name
Grouping the file by school name

In [16]:
grp_by_school = merge_df.set_index('school_name').groupby(['school_name'])
grp_by_school.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

##### Set by school type
Set the dataframe School name index using the type

In [17]:
grp_by_school_type = schools_df.set_index('school_name')['type']
grp_by_school_type.head(20)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

##### Total students
Find the total number of students in each school

In [18]:
total_student = grp_by_school["Student ID"].count()
print(total_student)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

##### Total School Budget
Find the total budget per school

In [19]:
school_budget = schools_df.set_index('school_name')['budget']
print(school_budget)

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

##### Per Student Budget
Calculate the budget per student per school

In [20]:
per_student_budget = school_budget/total_student
print(per_student_budget)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

##### Average Math Score
Find the average math score per school

In [21]:
average_score_math = grp_by_school["math_score"].mean()
print(average_score_math)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

##### Average Reading Score
Find the average reading score for each school

In [22]:
average_score_reading = grp_by_school["reading_score"].mean()
print(average_score_reading)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

##### % Passing Math
Calculate the percent of students passing math in each school

In [23]:
percent_pass_math = (merge_df[merge_df['math_score'] >= 70].groupby('school_name')['size'].count()/total_student)*100
print(percent_pass_math)

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

##### % Passing Reading
Calculate the percent of students passing reading in each school

In [24]:
percent_pass_reading = (merge_df[merge_df['reading_score'] >= 70].groupby('school_name')['size'].count()/total_student)*100
print(percent_pass_reading)

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

##### % Overall Passing
Calculate the percent of students passing both math & reading in each school

In [25]:
overall_percent_passing = (merge_df[(merge_df['reading_score'] >= 70) & (merge_df['math_score'] >= 70)].groupby('school_name')['size'].count()/total_student)*100
print(overall_percent_passing)

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

##### Create a dataframe with all the above School Summary results
 Making a dataframe with the collected information

In [32]:
School_summary = pd.DataFrame({"School Type":grp_by_school_type,
                               "Total Students" : total_student,
                               "Total School Budget": school_budget,
                               "Per Student Budget": per_student_budget,
                               "Average Math Score": average_score_math,
                               "Average Reading Score": average_score_reading,
                               "% Passing Math": percent_pass_math,
                               "% Passing Reading": percent_pass_reading,
                               "% Overall Passing": overall_percent_passing})

In [33]:
School_summary = School_summary[["School Type",
                               "Total Students",
                               "Total School Budget",
                               "Per Student Budget",
                               "Average Math Score",
                               "Average Reading Score",
                               "% Passing Math",
                               "% Passing Reading",
                               "% Overall Passing"]]

In [34]:
School_summary.style.format({"Total School Budget": "${:,.2f}", 
                             "Per Student Budget": "${:,.2f}",
                             "Average Math Score": "{:.6f}",
                             "Average Reading Score": "{:.6f}", 
                             "% Passing Math": "{:.6f}", 
                             "% Passing Reading": "{:.6f}", 
                             "% Overall Passing": "{:.6f}"})