# **PyCitySchools Challenge**

You are the Chief Data Scientist for your city's school district. In this capacity, you'll be helping the school board and mayor make strategic decisions regarding future school budgets and priorities.

As a first task, you've been asked to analyze the district-wide standardized test results. You'll be given access to every student's math and reading scores, as well as various information on the schools they attend. Your responsibility is to aggregate the data to and showcase obvious trends in school performance.

#### **Import Dependencies**

In [1]:
import pandas as pd
import os

#### Set the path to the data files (*Schools_complete.csv*) and (*Students_complete.csv*)

In [2]:
schools_file = os.path.join(".", "Resources","Schools_complete.csv")
students_file = os.path.join(".", "Resources","Students_complete.csv")

#### Read the schools_complete csv file and display with pandas

In [3]:
schools_df = pd.read_csv(schools_file)
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

#### Read the students_complete csv file and display with pandas

In [4]:
students_df = pd.read_csv(students_file)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

#### **District Summary**

##### **Create a high level snapshot (in table form) of the district's key metrics, including:**

- Total Schools
- Total Students
- Total Budget    
- Average Math Score    
- Average Reading Score    
- % Passing Math (The percentage of students that passed math.)    
- % Passing Reading (The percentage of students that passed reading.)    
- % Overall Passing (The percentage of students that passed math and reading.)

##### Total number of Schools
 Gives the length of unique school names to give us total number of schools

In [5]:
school_count = len(schools_df['school_name'].unique())
print(school_count)

15

##### Total number of Students
 Gives the total number of students

In [6]:
total_student_count = students_df['student_name'].count()
print(total_student_count)

39170

##### Total budget from the schools_complete csv file
 Gives the total budget

In [7]:
total_budget = schools_df['budget'].sum()
print(total_budget)

24649428

##### Average math score from Students_complete csv file
 Gives the average math score

In [8]:
average_math_score = students_df['math_score'].mean()
print(average_math_score)

78.98537145774827

##### Average reading score from Students_complete csv file
 Gives the average reading score

In [9]:
average_reading_score = students_df['reading_score'].mean()
print(average_reading_score)

81.87784018381414

##### Percentage passing Math (The percentage of students that passed math.) from Students_complete csv file
 Gives the percentage of students with a passing math score (70 or greater)

In [11]:
num_pass_math = students_df.loc[students_df['math_score'] >= 70]['math_score'].count()
perc_pass_math = (num_pass_math/total_student_count)*100
print(perc_pass_math)

74.9808526933878